*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: ;
    
}
.color-orange{
    color:#FD6E0A ;
}
.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    /* border: 1px solid black; */
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.btn{
    font-size:20px ;
    padding: ;
    font-weight: 400;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;

}

